{{ if eq .Params.css "among us" }}
<style>
p {
    color: blue;
}
</style>
{{ end }}


{{ if eq .Params.css "everforest" }}
<style>
:root {
  --light: #aebf88;
  --dark: #33374c;
  --secondary: #2f353a;
  --tertiary: #adb1c4;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #2f353a !important;
  --dark: #f8f8f2 !important;
  --secondary: #aebf88 !important;
  --visited: #91d8f4 !important;
  --tertiary: #6272a4 !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}
</style>
{{ end }}


{{ if eq .Params.css "jacaranda" }}
<style>
    :root {
  --light: #e8e9ec;
  --dark: #33374c;
  --secondary: #2d539e;
  --tertiary: #adb1c4;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #282a36 !important;
  --dark: #f8f8f2 !important;
  --secondary: #bd93f9 !important;
  --visited: #91d8f4 !important;
  --tertiary: #6272a4 !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}
  
</style>
{{ end }}

{{ if eq .Params.css "bees" }}
<style>
:root {
  --light: rgb(255, 255, 136) !important;
  --dark: rgba(111, 95, 56, 0.88)  !important;
  --secondary: #695816;
  --tertiary: #adb1c4;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: rgba(111, 95, 56, 0.88)  !important;
  --dark: rgb(255, 255, 136) !important;
  --secondary: #e4bf2c !important;
  --visited: #91d8f4 !important;
  --tertiary: #6272a4 !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}
</style>
{{ end }}


{{ if eq .Params.css "ocean" }}
<style>
:root {
  --light: #d4f9ff !important;
  --dark: #0F0A0A  !important;
  --secondary: #a94a35;
  --tertiary: #adb1c4;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #182318;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #161b45 !important;
  --dark: #2292A4 !important;
  --secondary: #D96C06 !important;
  --visited: #91d8f4 !important;
  --tertiary: #6272a4 !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}
</style>
{{ end }}